<h1>Registered Users Page</h1>

<table>
  <tr>
    <th>Email</th>
		<th>Password</th>
  </tr>

	<% @Users.each do |user| %>
	  <tr>
	    <td><%= link_to user.name, user %></td>
			<td><%= user.email %></td>
			<td><%= user.password %></td>
	  </tr>
	<% end %>
	</table>

	<br />


<%= link_to 'Register for A Good Sport!', new_user_path %>