<!DOCTYPE html>
<html>
<head>
  <title>AGoodSport</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<a href="/" class="home" title="AGoodSport.net Home"> </a>
			<h1>A Good Sport | Making Every Mile Mean More</h1>
		</div>
		<div id="content_wrap">
			<%= yield %>
		</div>
	</div>
</body>
</html>
